@keyframes tileTransition {
  from {
    visibility: visible;
    opacity: 0;
    transform: scale(0.1); }
  to {
    opacity: 1;
    transform: scale(1); } }

.tile {
  animation: tileTransition 1s forwards; }

@keyframes textTransition {
  from {
    opacity: 0;
    transform: translate(-100px, 0); }
  to {
    opacity: 1;
    transform: translate(0, 0); } }

.contact_form a {
  animation: textTransition 2s forwards; }
  .contact_form a:hover {
    color: black;
    font-weight: 500;
    padding: 8px 8px 10px;
    border: 1px solid gray;
    box-shadow: 3px 3px 10px gray;
    cursor: pointer; }
